---
layout: default
title: Home
---


/* Add your includes. */

## {% include main.css %}
## {% include syntax.css %}


/* Include your usual CSS here. */

html {
  font-size: 16px;
}
@media (min-width: 48rem) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font: 1rem/1.5 "PT Sans", sans-serif;
  color: #5a5a5a;
}

a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h4 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: right;
}


{% for post in paginator.posts %}
<div class="panel panel-default">
  <div class="panel-body">
    <h2 class="media-heading"><a class="text" href="{{ post.url }}">{{ post.title }}</a></h2>
    <time class="media-meta text-muted" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
    {{ post.excerpt }} 
    {% capture content_words %} 
      {{ post.content | number_of_words }} 
    {% endcapture %} 
    {% capture excerpt_words %} 
      {{ post.excerpt | number_of_words }} 
    {% endcapture %} 
    {% if excerpt_words != content_words %}
    <br><a class="btn btn-sm btn-primary" href="{{ post.url }}/#read-more" role="button"><h4><i>Read more </i></h4><i class="fa fa-arrow-circle-right"></i></a>
    
    {% endif %}
  </div>
  <div class="panel-footer">
    <i class="fa fa-tags text-primary"></i>
    {% assign taglist = post.tags | sort %}
    {% for tag in taglist | order: descending %}
    <small>
      <a class="text" href="/tags/#{{ tag | cgi_escape }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
      {% if forloop.last != true %}, {% endif %}
    </small> 
    {% endfor %}
  </div>
</div>
{% endfor %} {% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
  <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous page</a>
  </li>
  {% endif %} 
  {% if paginator.next_page %}
  <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next page &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
